.container-right {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.title-right {
    display: flex;
    align-items: center;

    gap: 0.75rem;
    margin-right: 10rem;

    font-size: 1.75rem;
}

.title-right img {
    width: 1.875rem;
    height: 1.875rem;
}

.list-phrases {
    height: 34rem;
    width: 40rem;

    border-radius: 1rem;

    overflow: auto;

    margin-left: 1rem;
}

.list-empty {
    margin: 7rem 0 0 7.35rem;
    margin-right: 3rem;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    opacity: 30%;
}

.list-empty img {
    width: 3.5rem;
    height: 3.5rem;
}